div.carousel-inner {
  height: 55vh;

}

p1 {

  text-transform: uppercase;
  justify-content: center;
  letter-spacing: 10px;
  font-size: 30px;

}

.container {
  position: relative;
}

.text-block {

  text-align: center;
  color: black;

}

.btn.btn.btn-primary {
  background-color: #ff6600;
  border: none;

}

div.form-group {
  padding-top: 10px;
  padding-left: 80px;
  padding-right: 80px;
}
