div.carousel-inner {
  height: 55vh;

}

p1 {

  text-transform: uppercase;
  justify-content: center;
  padding-left: 500px;
  letter-spacing: 10px;
  font-size: 30px;

}

.container {
  position: relative;
}

.text-block {

  text-align: center;
  color: black;

}

div.title {
  justify-content: center;
}



.btn.btn.btn-primary {
  background-color: #ff6600;
  border: none;

}

div.form-group {
  padding-top: 10px;
  padding-left: 80px;
  padding-right: 80px;
}

btn.Submit {

  padding-left: 90px;
}

p3 {
  font-size: 30px;
  font-style: italic;
  font-weight: bolder;
  text-align: center;
  padding-left: 150px;

}

h1 {
  text-transform: uppercase;
  letter-spacing: 10px;
}
